
window {
  -moz-appearance: none;
  background-color: transparent;
  background-image: url('chrome://personas/content/background.jpg');
  color: -moz-dialogtext;
  font: message-box;
}


#form {
  border: 1px solid threedshadow;
  padding: 3em;
  -moz-border-radius: 10px;
  background-color: -moz-field;
  color: -moz-fieldtext;
}

#title {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0.5em;
  border-bottom: 1px solid threedlightshadow;
}

textbox {
  min-width: 300px;
}

colorpicker {
  margin: 2px 4px;
}

#customEditorDisabledExplanation {
  font-size: large;
  color: white;
}

.backgroundText {
	color: grey;
}